CRUD_Calificaciones/CRUD_Calificaciones/Service References/ServiceReference1/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2844/Service2.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nc" type="xs:int" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="c1" type="xs:int" />
        <xs:element minOccurs="0" name="c2" type="xs:int" />
        <xs:element minOccurs="0" name="c3" type="xs:int" />
        <xs:element minOccurs="0" name="c4" type="xs:int" />
        <xs:element minOccurs="0" name="c5" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nc" type="xs:int" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="c1" type="xs:int" />
        <xs:element minOccurs="0" name="c2" type="xs:int" />
        <xs:element minOccurs="0" name="c3" type="xs:int" />
        <xs:element minOccurs="0" name="c4" type="xs:int" />
        <xs:element minOccurs="0" name="c5" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="leerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="leerResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="buscarResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>